.gradle/
.settings/
.idea/
.vscode/
.claude/
run/
build/
eclipse/
bin/
out/
crash-reports/
logs/
META-INF/
Reference/
docs/

.classpath
.project
.factorypath
*.iml
*.ipr
*.iws
*.DS_Store

options.txt
servers.dat
saves/
usernamecache.json
banned-ips.json
banned-players.json
eula.txt
ops.json
server.properties
usercache.json
whitelist.json

addon.local.gradle
addon.local.gradle.kts
addon.late.local.gradle
addon.late.local.gradle.kts
layout.json
